.card{
    position: absolute;
    inset: 0;
    background-color: rgba($color: #fff, $alpha: 0.9);
    z-index: 100;
    border: 20px solid $dark-border; 
    opacity: 0;
    overflow: hidden;
    &-content{
        padding: 1.75rem;
        text-align: center;
    }
    &-text{
        transform: translateY(-400px);
    }
    &-heading{
        @include styleText($fz-18 , $fw-400 , $black-light);
        margin: 24px 0;
    }
    
    &-desc{
        @include styleText($fz-14 , $fw-400 , $gray-p);
        line-height: 2;
    }
    &-icon{
        font-size: $fz-36;
    }
    &-links{
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translate(-50% , 300%);
        display: flex;
        gap: 24px;
        i{
            font-size: $fz-18 ;
            &:hover{
                color: $yellow-primary;
            }
        }
        
    }
    &-link{
            @include styleText($fz-16 , $fw-400 , #757575);    
            
        
    }
    &:hover{
        opacity: 1;
    }
    &:hover &-text{
        transform: translateY(0);
    }
    &:hover &-links{
        transform:  translate(-50% , 0);
    }
    @media  screen and  (min-width : 993px) and (max-width : 1100px) {
        &-heading{
            margin: 0;  
        }
        &-link{
            font-size: $fz-14;
        }          
    }
}

