.banner{
    background: url(../img/index-banner-2.jpg) center/cover no-repeat;
    height: 650px;
    position: relative;
    &-content{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center
    }
    &-heading{
        @include styleText($fz-60, $fw-300 , $white);
        margin-bottom: 4px;
        letter-spacing: 5px;
    }
    &-subheading{
        @include styleText($fz-18 + 2 , $fw-400 , $white);
        letter-spacing: 6px;
        word-spacing: 2px;
    }

    @include responsive('medium'){
        &-heading{
            @include styleText($fz-48 , $fw-300 , $white);
            
        }
        &-subheading{
            @include styleText($fz-18  , $fw-400 , $white);
            letter-spacing:2px;
        // word-spacing: 2px;
            
        }
    }
}